absl-py==2.1.0
accelerate==0.23.0
aiofiles==23.2.1
annotated-types==0.7.0
anyio==4.4.0
av==12.3.0
bigdl-core-cpp==2.5.0b20240801
bigdl-core-xe-21==2.5.0b20240801
bigdl-core-xe-addons-21==2.5.0b20240801
bigdl-core-xe-batch-21==2.5.0b20240801
blinker==1.4
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
dpcpp-cpp-rt==2024.0.2
einops==0.8.0
fastapi==0.112.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.14.0
fonttools==4.53.1
fsspec==2024.6.0
future==1.0.0
fvcore==0.1.5.post20221221
gguf==0.6.0
gradio==4.40.0
gradio_client==1.2.0
grpcio==1.65.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
huggingface-hub==0.23.2
idna==3.7
importlib-metadata==4.6.4
importlib_resources==6.4.0
intel-cmplr-lib-rt==2024.0.2
intel-cmplr-lic-rt==2024.0.2
intel-extension-for-pytorch==2.1.10+xpu
intel-opencl-rt==2024.0.2
intel-openmp==2024.0.2
iopath==0.1.10
ipex-llm==2.1.0b20240801
jeepney==0.7.1
Jinja2==3.1.4
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
mkl==2024.0.0
mkl-dpcpp==2024.0.0
more-itertools==8.10.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
oauthlib==3.2.0
ollama==0.3.1
onednn==2024.0.0
onemkl-sycl-blas==2024.0.0
onemkl-sycl-datafitting==2024.0.0
onemkl-sycl-dft==2024.0.0
onemkl-sycl-lapack==2024.0.0
onemkl-sycl-rng==2024.0.0
onemkl-sycl-sparse==2024.0.0
onemkl-sycl-stats==2024.0.0
onemkl-sycl-vm==2024.0.0
opencv-python==4.10.0.84
orjson==3.10.6
packaging==24.0
pandas==2.2.2
parameterized==0.9.0
peft==0.12.0
pillow==10.4.0
portalocker==2.10.1
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pycairo==1.26.0
pydantic==2.7.3
pydantic_core==2.18.4
pydub==0.25.1
pyee==11.1.0
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-ffmpeg==2.0.12
python-multipart==0.0.9
pytorchvideo==0.1.5
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
ruff==0.5.6
safetensors==0.4.3
scipy==1.14.0
SecretStorage==3.3.1
semantic-version==2.10.0
sentencepiece==0.1.99
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
sympy==1.12.1
tabulate==0.9.0
tbb==2021.13.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tiktoken==0.7.0
tokenizers==0.19.1
tomlkit==0.12.0
torch==2.1.0a0+cxx11.abi
torchvision==0.16.0a0+cxx11.abi
tqdm==4.66.4
transformers==4.42.0
transformers-stream-generator==0.0.4
triton==2.3.0
typer==0.12.3
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.30.5
wadllib==1.3.6
websockets==12.0
Werkzeug==3.0.3
yacs==0.1.8
zipp==1.0.0
